<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.livecommerce_server.payment.mapper.PaymentMapper">
    <insert id="insertTempPayment" parameterType="com.example.livecommerce_server.payment.dto.PaymentDTO">
        INSERT INTO payment_d (
            payments_id,
            payment_method,
            payment_key,
            payment_payload,
            paid_at,
            created_at,
            payment_status_code
        ) VALUES (
                     #{paymentsId},
                     #{paymentMethod},
                     #{paymentKey},
                     #{paymentPayload},
                     #{paidAt},
                     #{createdAt},
                     #{paymentStatusCode}
                 )
    </insert>

    <update id="updatePaymentByOrderId" parameterType="com.example.livecommerce_server.payment.dto.PaymentUpdateDTO">
        UPDATE payment_d
        SET
            payment_status_code = #{status},
            paid_at = #{approvedAt},
            payment_method = #{method},
            payment_payload = #{payload},
            payment_key = #{paymentKey}
        WHERE payments_id = (
            SELECT payments_id FROM orders_m WHERE order_id = #{orderId}
        )
    </update>
</mapper>